section.hz
  .wrap_hz
    img(src="../img/image_hz-1.jpg" alt="hz photo").hz_image
    .hz_news
      .hz_date 12th June 2015
      .description.description_hz-news Lorem ipsum dolor sit amet, cotur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore
      .author <span class="hz_photo"></span> Blaz Robar
        
  .wrap_hz
    .hz_post
      .title.title_hz-post Lorem ipsum dolor sit amet, consectetur adipisicing elit
      .description.description_hz-post Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      a(href="").hz_comments <span class="number">92</span> Comments
    img(src="../img/image_hz-2.jpg" alt="hz photo").hz_image
  .wrap_hz
    img(src="../img/image_hz-3.jpg" alt="hz photo").hz_image-full
    .hz_quote
      .description.description_hz-quote Lorem ipsum dolor sit amet, cotur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore
      .author <span class="hz_photo"></span> Blaz Robar
