section.text-2
  .wrapper
    .title.title_text-2 Designed for humanssss
    .description.description_text-2 Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan scenester aesthetic sartorial chia messenger bag Pinterest. 3 wolf moon Thundercats Banksy paleo, yr four loko Shoreditch dreamcatcher.
    img(src="../img/text-2.png").text-2__img