.screens
  background violet
  padding 20px 0

.screens_images
  display none

.phone
  position absolute
  top -350px
  left 250px

@media (min-width: screen)
  .screens_images
    display block
    position relative

