section.screens
  .wrapper
    .title.title_screens Super Duper & such
    .description.description_screens Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
    a.link.button.button_screens(href="") See More
    .screens_images
      .wrap_images
        img(src="../img/screens-interface.jpg", alt="interface").interface
        img(src="../img/screens-phone.png", alt="phone").phone