.conectivity
  grid-mobile()

.conectivity_text
  grid-2()
  background: grey_11

.conectivity_span
  sprite($sprite_conectivity)

.conectivity_image
  grid-2()
  width: 100%

@media (min-width: tablet)
  .conectivity
    grid()

// @media (min-width: tablet)
//   .text
//     padding: 30px 24px

@media (min-width: screen)
  // .text
  //   padding: 50px 36px

  .conectivity_text
    padding: 50px 10px 50px 10px

@media (min-width: screen_large)
  // .text
  //   padding: 100px 50px

  .conectivity_text
    padding: 100px 50px 100px 250px