section.text-3
  .wrapper.wrapper_text-3
    div
      .icon_design
      .title.title_text-3 <span class="span_text-3">01</span>Design
      .description.description_text-3 Scenester PBR deep v jean shorts typewriter. Sustainable keytar Tumblr, authentic mustache locavore scenester gentrify meh banjo fanny pack health goth. Four dollar toast scenester XOXO crucifix, mumblecore banh mi yr cold-pressed Bushwick.
    div
      .icon_refinement
      .title.title_text-3 <span class="span_text-3">02</span>Refinement
      .description.description_text-3 Pickled 8-bit tousled health goth farm-to-table Pitchfork, lumbersexual church-key photo booth Blue Bottle. Aesthetic viral American Apparel, scenester distillery iPhone 8-bit tousled ugh ethical pork belly biodiesel street art asymmetrical whatever.
    div
      .icon_dive-in
      .title.title_text-3 <span class="span_text-3">03</span>Dive In
      .description.description_text-3 Cliche Intelligentsia church-key, gluten-free drinking vinegar keffiyeh cornhole next level shabby chic plaid tattooed. Helvetica post-ironic raw denim tousled listicle.
    div
      .icon_research
      .title.title_text-3 <span class="span_text-3">04</span>Research
      .description.description_text-3 Raw denim health goth artisan, kitsch literally shabby chic meh small batch Wes Anderson retro Neutra. Blog meggings semiotics, irony swag cred kale chips aesthetic literally VHS craft beer chia.