.button
  border-radius 22px
  color white
  font-family font_opensans

.button_buy
  background violet
  border solid 2px violet
  box-sizing border-box
  font-size 15px
  font-weight 600
  margin 10px
  padding 10px 26px
  transition background 300ms ease

.button_buy:hover
  background transparent

.button_screens,
.button_text
  background green
  border solid 2px green
  box-sizing border-box
  display inline-block
  font-size 14px
  font-weight 600
  margin 10px
  padding 10px 49px 11px 49px 
  transition background 300ms ease

.button_screens:hover
  background transparent

.button_text:hover
  background transparent
  color green

@media (min-width: tablet)
  .button_buy
    margin 0 10px
  
  .button_screens,
  .button_text
    margin 10px 75px 10px 75px

@media (min-width: screen) 
  .button_screens
    margin 10px 300px 200px 10px
  
  .button_text
    margin 10px 10px 100px 10px