.button
  border-radius 22px
  color white
  font-family font_opensans

.button_buy
  background violet
  border solid 2px violet
  box-sizing border-box
  font-size 15px
  font-weight 600
  margin 10px
  padding 10px 26px
  transition background 300ms ease

.button_buy:hover
  background transparent

@media (min-width: tablet)
  .button_buy
    margin 0 10px