.description
  font-family font_opensans

.description_header
  color white
  font-size 16px
  font-weight 400
  padding 10px 10px 50px 10px

.description_screens
  color white
  font-size 14px
  font-weight 400
  padding 10px

.description_text
  color grey_6
  font-size 14px
  font-weight 400
  padding 10px

@media (min-width: tablet)
  .description_header
    font-size 18px
    padding 10px 75px 100px 75px
  
  .description_screens
    font-size 16px
    padding 10px 75px 10px 75px
  
  .description_text
    padding 10px 75px 10px 75px

@media (min-width: screen)
  .description_header
    padding 10px 300px 200px 100px
    
  .description_screens
    padding 10px 500px 10px 10px

  .description_text
    padding 10px

@media (min-width: screen_large)
  .description_header
    padding 10px 500px 300px 600px
  
  .description_screens
    padding 10px 700px 10px 10px
  
  .description_text
    padding 10px