.list_header
  display none
  list-style-type none
  margin 0
  padding 0
  position absolute
  top 35px
  right 0

.list_header-active
  align-items flex-end
  display flex
  flex-flow column nowrap

.list_item
  background violet
  border solid 2px violet

.list_item:hover
  background transparent