/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$sprite_conectivity_name = 'sprite_conectivity';
$sprite_conectivity_x = 45px;
$sprite_conectivity_y = 90px;
$sprite_conectivity_offset_x = -45px;
$sprite_conectivity_offset_y = -90px;
$sprite_conectivity_width = 43px;
$sprite_conectivity_height = 31px;
$sprite_conectivity_total_width = 160px;
$sprite_conectivity_total_height = 135px;
$sprite_conectivity_image = '../img/sprite.png';
$sprite_conectivity = 45px 90px -45px -90px 43px 31px 160px 135px '../img/sprite.png' 'sprite_conectivity';
$sprite_bars_name = 'sprite_bars';
$sprite_bars_x = 88px;
$sprite_bars_y = 90px;
$sprite_bars_offset_x = -88px;
$sprite_bars_offset_y = -90px;
$sprite_bars_width = 18px;
$sprite_bars_height = 15px;
$sprite_bars_total_width = 160px;
$sprite_bars_total_height = 135px;
$sprite_bars_image = '../img/sprite.png';
$sprite_bars = 88px 90px -88px -90px 18px 15px 160px 135px '../img/sprite.png' 'sprite_bars';
$sprite_search_name = 'sprite_search';
$sprite_search_x = 59px;
$sprite_search_y = 76px;
$sprite_search_offset_x = -59px;
$sprite_search_offset_y = -76px;
$sprite_search_width = 14px;
$sprite_search_height = 14px;
$sprite_search_total_width = 160px;
$sprite_search_total_height = 135px;
$sprite_search_image = '../img/sprite.png';
$sprite_search = 59px 76px -59px -76px 14px 14px 160px 135px '../img/sprite.png' 'sprite_search';
$sprite_avatar_name = 'sprite_avatar';
$sprite_avatar_x = 0px;
$sprite_avatar_y = 31px;
$sprite_avatar_offset_x = 0px;
$sprite_avatar_offset_y = -31px;
$sprite_avatar_width = 59px;
$sprite_avatar_height = 59px;
$sprite_avatar_total_width = 160px;
$sprite_avatar_total_height = 135px;
$sprite_avatar_image = '../img/sprite.png';
$sprite_avatar = 0px 31px 0px -31px 59px 59px 160px 135px '../img/sprite.png' 'sprite_avatar';
$sprite_icon_design_name = 'sprite_icon-design';
$sprite_icon_design_x = 114px;
$sprite_icon_design_y = 0px;
$sprite_icon_design_offset_x = -114px;
$sprite_icon_design_offset_y = 0px;
$sprite_icon_design_width = 46px;
$sprite_icon_design_height = 46px;
$sprite_icon_design_total_width = 160px;
$sprite_icon_design_total_height = 135px;
$sprite_icon_design_image = '../img/sprite.png';
$sprite_icon_design = 114px 0px -114px 0px 46px 46px 160px 135px '../img/sprite.png' 'sprite_icon-design';
$sprite_icon_dive_in_name = 'sprite_icon-dive-in';
$sprite_icon_dive_in_x = 59px;
$sprite_icon_dive_in_y = 31px;
$sprite_icon_dive_in_offset_x = -59px;
$sprite_icon_dive_in_offset_y = -31px;
$sprite_icon_dive_in_width = 54px;
$sprite_icon_dive_in_height = 45px;
$sprite_icon_dive_in_total_width = 160px;
$sprite_icon_dive_in_total_height = 135px;
$sprite_icon_dive_in_image = '../img/sprite.png';
$sprite_icon_dive_in = 59px 31px -59px -31px 54px 45px 160px 135px '../img/sprite.png' 'sprite_icon-dive-in';
$sprite_icon_refinement_name = 'sprite_icon-refinement';
$sprite_icon_refinement_x = 114px;
$sprite_icon_refinement_y = 46px;
$sprite_icon_refinement_offset_x = -114px;
$sprite_icon_refinement_offset_y = -46px;
$sprite_icon_refinement_width = 44px;
$sprite_icon_refinement_height = 44px;
$sprite_icon_refinement_total_width = 160px;
$sprite_icon_refinement_total_height = 135px;
$sprite_icon_refinement_image = '../img/sprite.png';
$sprite_icon_refinement = 114px 46px -114px -46px 44px 44px 160px 135px '../img/sprite.png' 'sprite_icon-refinement';
$sprite_icon_research_name = 'sprite_icon-research';
$sprite_icon_research_x = 0px;
$sprite_icon_research_y = 90px;
$sprite_icon_research_offset_x = 0px;
$sprite_icon_research_offset_y = -90px;
$sprite_icon_research_width = 45px;
$sprite_icon_research_height = 45px;
$sprite_icon_research_total_width = 160px;
$sprite_icon_research_total_height = 135px;
$sprite_icon_research_image = '../img/sprite.png';
$sprite_icon_research = 0px 90px 0px -90px 45px 45px 160px 135px '../img/sprite.png' 'sprite_icon-research';
$sprite_text_name = 'sprite_text';
$sprite_text_x = 0px;
$sprite_text_y = 0px;
$sprite_text_offset_x = 0px;
$sprite_text_offset_y = 0px;
$sprite_text_width = 114px;
$sprite_text_height = 31px;
$sprite_text_total_width = 160px;
$sprite_text_total_height = 135px;
$sprite_text_image = '../img/sprite.png';
$sprite_text = 0px 0px 0px 0px 114px 31px 160px 135px '../img/sprite.png' 'sprite_text';
$spritesheet_width = 160px;
$spritesheet_height = 135px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $sprite_conectivity $sprite_bars $sprite_search $sprite_avatar $sprite_icon_design $sprite_icon_dive_in $sprite_icon_refinement $sprite_icon_research $sprite_text;
$spritesheet = 160px 135px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
