.subtitle
  font-family font_opensans

.subtitle_text
  color grey_5
  font-size 20px
  font-weight 300
  padding 10px

@media (min-width: tablet)
  .subtitle_text
    padding 10px 75px

@media (min-width: screen)
  .subtitle_text
    padding 20px 10px

@media (min-width: screen_large)
  .subtitle_text
    padding 10px
