.title
  font-family font_opensans

.title_header
  color white
  font-size 35px
  font-weight 300
  padding 10px

@media (min-width: tablet)
  .title_header
    font-size 50px
    padding 50px 75px 10px 75px

@media (min-width: screen)
  .title_header
    font-size 70px
    padding 75px 100px 10px 100px

@media (min-width: screen_large)
  .title_header
    padding 100px 300px 10px 600px