.title
  font-family font_opensans

.title_header
  color white
  font-size 35px
  font-weight 300
  padding 10px

.title_screens
  color white
  font-size 20px
  font-weight 300
  padding 10px

.title_text
  color grey_4
  font-size 18px
  font-weight 300
  padding 10px

.title_text-2
  color white
  font-size 20px
  font-weight 300
  padding 30px 10px 10px 10px
  text-align center

.title_text-3
  color white
  font-size 18px
  font-weight 400
  padding 30px 10px 10px 10px

.title_conectivity
  color grey_4
  font-size 20px
  font-weight 300
  padding 30px 10px 10px 10px

@media (min-width: tablet)
  .title_header
    font-size 50px
    padding 50px 75px 10px 75px
  
  .title_screens
    font-size 30px
    padding 10px 75px 10px 75px
  
  .title_text
    font-size 25px
    padding 10px 75px 10px 75px
  
  .title_text-2
    font-size 30px
    padding 50px 75px 10px 75px
  
  .title_text-3
    font-size 20px
    padding 50px 75px 10px 75px
  
  .title_conectivity
    font-size 30px
    padding 10px 0px 10px 0px

@media (min-width: screen)
  .title_header
    font-size 70px
    padding 75px 100px 10px 100px
  
  .title_screens
    font-size 40px
    padding 75px 100px 10px 10px
  
  .title_text
    font-size 30px
    padding 75px 10px 10px 10px
  
  .title_text-2
    font-size 40px
  
  .title_text-3
    padding 10px
  
  .title_conectivity
    font-size 40px

@media (min-width: screen_large)
  .title_header
    padding 100px 300px 10px 600px
  
  .title_text-2
    padding 100px 75px 10px 75px