// Colors
// ______

dark = #232831
dark_1 = #343c48
dark_2 = #3a4d60
dark_3 = #1a2124

green = #3dd2ae

grey = #9da5b0
grey_1 = #b2b2b2
grey_2 = #f9f9f4
grey_3 = #f4f8fb
grey_4 = #2b303b
grey_5 = #696f7c
grey_6 = #44484f
grey_7 = #232323
grey_8 = #83969f
grey_9 = #ecece6
grey_10 = #f4f8fb
grey_11 = #e9eef1

violet = #835fa7
white = #fff


// Font
// ____

font_opensans = 'Open Sans', Arial, sans-serif

// Resolution
// __________

tablet = 40em
screen = 64em
screen_large = 90em
