.wrap_header
  align-items center
  display flex
  flex-flow row wrap
  justify-content space-around
  margin 10px

.wrap_images
  position absolute
  top -250px
  right 300px

@media (min-width: screen)
  .wrap_header
    margin 50px
