<!DOCTYPE html>
html
  head
    link(rel="stylesheet", href="css/main.css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title tork
  body.page
    include blocks/header/header.pug
    include blocks/screens/screens.pug
    include blocks/text/text.pug
    include blocks/text-2/text-2.pug
    include blocks/text-3/text-3.pug
    include blocks/conectivity/conectivity.pug
    script(src="js/main.js")
    
