.header
  background dark url(../img/header-bg.png) no-repeat
  background-size cover

.logo
  margin 10px

.menu
  align-items center
  display flex
  margin 10px
  position relative

.trigger
  sprite($sprite_bars)
  cursor pointer

@media (min-width: screen)
  .logo
    margin 50px
