header.header
  .wrapper_header
    a.logo(href="")
      img(src="../img/logo.png", alt="logotype")
    div.wrap_header
      form.form(action="")
        input.input_search(type="search" placeholder="Search website")
        button.button.button_search.icon_button-search(type="submit")
      a.link.button.button_buy(href="") Buy $21
      nav.menu
        a.link.trigger(href="")
        ul.list.list_header
          li
            a.link.link_header(href="") Item menu
          li
            a.link.link_header(href="") Item menu
          li
            a.link.link_header(href="") Item menu
  .header-content
    .title.title_header Building bulletproof fucking apps
    .description.description_header Kickstarter umami Intelligentsia kogi. Try-hard flannel literally, chambray blog crucifix put a bird on it four dollar toast cardigan